img {
  height: 70px;
  margin: 0 0.5rem 0 0.25rem;
}

p {
  margin-top: 16px;
}

button {
  position: absolute;
  right: 2rem;
}

.social {
  position: absolute;
  right: 8rem;
  height: 20px;
}

.icons {
  height: 20px;
}