<mat-toolbar color="primary">
  <img src="../../../assets/images/logo.png" alt="Argentina Programa" />
  <p>Andrea Maccan</p>

  <div class="social">
    <a href="https://ar.linkedin.com/in/acmaccan" target="_blank">
      <img class="icons" src="../../../assets/images/social/linkedin.svg" alt="linkedin" />
    </a>

    <a href="https://github.com/acmaccan" target="_blank">
      <img class="icons" src="../../../assets/images/social/github.svg" alt="github" />
    </a>

    <a href="https://gitlab.com/amaccan" target="_blank">
      <img class="icons" src="../../../assets/images/social/gitlab.svg" alt="gitlab" />
    </a>

    <a href="https://stackblitz.com/@acmaccan" target="_blank">
      <img class="icons" src="../../../assets/images/social/stackblitz.svg" alt="stackblitz" />
    </a>
  </div>

  <button mat-button color="primary" mat-raised-button (click)="logout()">
    Logout
  </button>
</mat-toolbar>
